  * {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
  }

  .text-stroke {
    -webkit-text-stroke: 1px #6b3483;
    font-family: "Roboto", sans-serif;
  }

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(56, 57, 56, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

  